@charset "utf-8";
@import url("./fontello.css");
@import url("./normalize.css");

@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 100;
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Thin.eot');
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Thin.eot') format('embedded-opentype'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Thin.woff') format('woff'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Thin.otf') format('truetype');
}

@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 200;
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Light.eot');
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Light.eot') format('embedded-opentype'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Light.woff') format('woff'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Light.otf') format('truetype');
}

@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 300;
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.eot');
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.woff') format('woff'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.otf') format('truetype');
}

@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 400;
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Regular.eot');
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Regular.woff') format('woff'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 500;
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Medium.eot');
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Medium.eot') format('embedded-opentype'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Medium.woff') format('woff'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 700;
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Bold.eot');
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Bold.woff') format('woff'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 900;
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Black.eot');
  src: url('../../fonts/noto-sans-scott/NotoSansCJKkr-Black.eot') format('embedded-opentype'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Black.woff') format('woff'),
  url('../../fonts/noto-sans-scott/NotoSansCJKkr-Black.otf') format('truetype');
}

/* Font lobster-regular - latin 적용 */
/* @font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/lobster/lobster-v20-latin-regular.eot'); /* IE9 Compat Modes */
  /* src: local('Lobster Regular'), local('Lobster-Regular'),
       url('../../fonts/lobster/lobster-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /* url('../../fonts/lobster/lobster-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      /*  url('../../fonts/lobster/lobster-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       /* url('../../fonts/lobster/lobster-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       /* url('../../fonts/lobster/lobster-v20-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
/* }
/* didact-gothic-regular - latin */
@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/didact-gothic/didact-gothic-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'),
       url('../../fonts/didact-gothic/didact-gothic-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/didact-gothic/didact-gothic-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/didact-gothic/didact-gothic-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/didact-gothic/didact-gothic-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/didact-gothic/didact-gothic-v12-latin-regular.svg#DidactGothic') format('svg'); /* Legacy iOS */
}

/****************************
 * reset
*****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
main, article, aside, details,   figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************
 * Basic setting
*****************************/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #181818;
  font-family: 'noto-sans-scott', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  background-color: #FFF;
}
/* Font style */
.text-medium {
  font-weight: 500;
}
/* Link style */
a {
  color: inherit;
  text-decoration: none;
}
a, button {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  cursor: pointer;
}
/* Button style */
.btn {
  display: inline-block;
  height: 49px;
  margin-bottom: 15px;
  padding: 12px 10px 13px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  border-radius: 35px;
  box-shadow: 0 5px 5px #F1F1F1;
}
.btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.main-btn {
  color: #FFF;
  background: #E06035;
  border-color: #E06035;
}
.sub-btn {
  color: #8E8E8E;
  background: #EEE;
  border-color: #EEE;
}
.default-btn {
  color: #444;
  background: #FFF;
  border-color: #FFF;
}
/* Hidden contents */
body .readable-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/****************************
 * Footer
*****************************/
.footer {
  position: relative;
  z-index: 1;
  height: 85px;
  padding: 35px 0;
  color: #8E8E8E;
  text-align: center;
  background-color: #FFF;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 40px;
  left: 40px;
  height: 1px;
  background: #E6E6E5;
}
.copyright {
  color: #CCC;
  font-size: 12px;
}

/****************************
 * Go Top Icon
*****************************/
.gotop-icon {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1009;
  width: 50px;
  height: 50px;
  color: #FFF;
  font-size: 15px;
  background-color: #E06035;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
  cursor: pointer;
}
.gotop-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media all and (min-width: 768px) {
  .gotop-icon {
    right: 50px;
    bottom: 50px;
    width: 70px;
    height: 70px;
    font-size: 20px;
  }
}

/****************************
 * loading
*****************************/
.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  opacity: 0;
  background-color: #000;
  transition: all .5s ease-in-out;
}
.loading-show .loading-wrap {
  z-index: 1999;
}
.loading .loading-wrap {
  opacity: 1;
}
.loading-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader {
  display: inline-block;
  width: 100px;
  margin: 0 auto 20px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}
svg path,
svg rect{
  fill: #E06035;
}
.loading-wrap p {
  color: #FFF;
  font-family: "Didact Gothic", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

/****************************
 * Section Common
*****************************/
.section-wrap {
  padding: 80px 15px 30px;
  background-color: #FFF;
}
.section-title {
  position: relative;
  padding: 10px 0 30px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #121212;
}
@media all and (min-width: 768px) {
  .section-wrap {
    padding: 50px 60px 150px;
  }
}


/****************************
 * home
*****************************/
.home-wrap {
  position: relative;
  height: 100vh;
  padding-top: 50px;
}
.home-logo-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  padding-bottom: 50px;
}
.home-logo-wrap img {
  display: block;
  width: 180px;
  margin: 0 auto;
}
.home-wrap .home-title {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.home-wrap .home-title::before {
  display: none;
}
.home-wrap .btn-wrap {
  text-align: center;
}
.home-wrap .btn {
  width: 130px;
  margin: 5px;
}
.home-wrap .scroll-icon {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 36px;
  color: #121212;
  opacity: 1;
  animation: glow 4s infinite;
}
@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
    transform: translateX(-50%) translateY(10px);
  }
}
@media all and (min-width: 600px) {
  .home-logo-wrap img {
    width: 300px;
  }
  .home-wrap .home-title {
    padding-top: 50px;
    font-size: 70px;
  }
  .home-wrap .btn {
    width: 200px;
    margin: 20px;
  }
}
@media all and (min-width: 768px) {
  .home-wrap {
    height: 100vh;
  }
}
@media all and (min-width: 992px) {
  .home-wrap .home-title {
    font-size: 80px;
  }
}

/****************************
 * portfolio
*****************************/
.button-group {
  padding: 0 0 30px;
  font-family: "Didact Gothic", sans-serif;
  background-color: #FFF;
}
.button-group span {
  display: none;
  color: #8E8E8E;
}
.button-group .button {
  position: relative;
  margin-right: 10px;
  padding: 5px;
  color: #8E8E8E;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.button-group .button:hover,
.button-group .button.is-checked {
  color: #E06035;
}
.button-group .button:focus {
  outline: none;
}
.grid:after {
  content: "";
  display: block;
  padding-left: 1px;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 100%;
}
.gutter-sizer {
  width: 0;
}
.grid-item {
  overflow: hidden;
  float: left;
  margin-bottom: 15px;
  transition: opacity .4s;
  cursor: pointer;
}
.grid-item .subject-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  transition: all .4s;
}
.grid-item:hover .subject-bg {
  opacity: 1;
}
.grid-item .subject-bg p {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 25px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-shadow: 5px 5px 5px #000;
  word-break: keep-all;
}
.grid-item img {
  display: block;
  width: 100%;
}
body.layer-show {
  overflow: hidden;
}
.layer-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: all .4s;
}
.layer-bg.layer-show {
  z-index: 1100;
  opacity: 1;
}
.layer_area {
	position: absolute;
	top: 65px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 20px;
	background-color: #F2F2F2;
}
.layer_area .img {
  position: absolute;
	top: 20px;
  left: 20px;
  right: 20px;
  bottom: calc(50% + 40px);
  background-color: #F4F4F4;
  border-radius: 2px;
  box-shadow: 5px 15px 50px rgba(0,0,0,.3);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.layer_area .info-wrap {
  overflow: auto;
  position: absolute;
	top: calc(50%);
  left: 20px;
  right: 20px;
  bottom: 20px;
}
.info-date {
  font-size: 14px;
  font-weight: 700;
}
.info-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  word-break: keep-all;
}
.info-wrap ul a {
  display: inline-block;
  padding-bottom: 2px;
  font-weight: 700;
  border-bottom: 2px solid rgb(24,24,27);
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.info-wrap ul a:hover {
  border-bottom-color: #E06035;
}
.layer-close {
  position: absolute;
  top: -50px;
  right: 0;
  padding: 0;
  color: #FFF;
  font-size: 40px;
  background: transparent;
  border: 0;
}
@media all and (min-width: 768px) {
  .button-group {
    padding: 10px 0 50px;
  }
  .button-group span {
    display: inline;
  }
  .button-group .button:nth-child(n+3)::before {
    content: '|';
    position: absolute;
    top: 2px;
    left: -7px;
    font-size: 20px;
    color: #E1E8ED;
  }
  .grid-sizer,
  .grid-item {
    width: calc((100% - 30px) / 2);
  }
  .gutter-sizer {
    width: 30px;
  }
  .grid-item {
    margin-bottom: 30px;
  }
  .layer_area .img {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 430px;
    height: 430px;
    margin: 0 auto;
  }
  .layer_area .info-wrap {
    overflow: visible;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
}
@media all and (min-width: 992px) {
  .grid-item .subject-bg p {
    font-size: 25px;
  }
  .layer_area {
    overflow: visible;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
    height: 530px;
    padding: 50px;
  }
  .layer_area .img {
    margin: 0;
  }
  .layer_area .info-wrap {
    position: absolute;
    top: 50%;
    right: 50px;
    left: 550px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0;
  }
}
@media all and (min-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: calc((100% - 60px) / 3);
  }
}
@media all and (min-width: 1400px) {
  .grid-item .subject-bg p {
    font-size: 30px;
  }
}
@media all and (min-width: 1600px) {
  .grid-item .subject-bg p {
    font-size: 35px;
  }
}

/****************************
 * contect
*****************************/
.contect-wrap .contect-mail-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.contect-wrap .contect-mail {
  display: inline-block;
  position: relative;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 1.04;
  letter-spacing: -2px;
  text-align: center;
  font-weight: bold;
  color: #101010;
  outline: 0;
}
.contect-wrap .contect-mail:after {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  position: absolute;
  background-color: #050505;
  bottom: 4px;
  left: 0;
  transition: -webkit-transform 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -moz-transform 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -o-transform 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -ms-transform 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transform: -webkit-scaleX(0);
  transform: -moz-scaleX(0);
  transform: -o-scaleX(0);
  transform: -ms-scaleX(0);
  transform: scaleX(0);
  transform-origin: left center;
}
.contect-wrap .contect-mail:hover:after {
  transform-origin: left center;
  transition: -webkit-transform 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -moz-transform 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -o-transform 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -ms-transform 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transform: -webkit-scaleX(1);
  transform: -moz-scaleX(1);
  transform: -o-scaleX(1);
  transform: -ms-scaleX(1);
  transform: scaleX(1);
}
.contect-wrap .contect-explan {
  font-size: 18px;
  color: #101010;
  text-align: center;
}
@media all and (min-width: 600px) {
  .contect-wrap .contect-mail-wrap {
    margin-top: 80px;
  }
  .contect-wrap .contect-mail {
    padding-bottom: 20px;
    font-size: 52px;
    letter-spacing: -5.4px;
  }
  .contect-wrap .contect-explan {
    font-size: 18px;
  }
}
@media all and (min-width: 992px) {
  .contect-wrap .contect-mail {
    font-size: 70px;  
  }
  .contect-wrap .contect-explan {
    font-size: 20px;
  }
}
@media all and (min-width: 1200px) {
  .contect-wrap .contect-mail {
    padding-bottom: 30px;
    font-size: 80px;
  }
  .contect-wrap .contect-explan {
    font-size: 25px;
  }
}
@media all and (min-width: 1400px) {
  .contect-wrap .contect-mail {
    font-size: 100px;
  }
  .contect-wrap .contect-explan {
    font-size: 30px;
  }
}